<div class="container">
    <div class="form-container">

        <h1>Register</h1>

        <form method="post">
            <fieldset class="form-group">
                <label class="form-label" for="username" class="col-2 control-label">Username: *</label>
                <input class="form-control" name="username" id="username" required type="email"
                    placeholder="email@email.com" />
            </fieldset>
            <fieldset class="form-group">
                <label class="form-label" for="password" class="col-2 control-label">Password: *</label>
                <input class="form-control" name="password" id="password" type="password" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
            </fieldset>
            <fieldset class="form-group">
                <label class="form-label" for="confirm" class="col-2 control-label">Confirm: *</label>
                <input class="form-control" name="confirm" id="confirm" type="password" required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
            </fieldset>
            <fieldset class="form-group">
                <button class="btn btn-secondary offset-11 mt-2">Register</button>
                <hr />
                Already have an account? <a href="/auth/login" title="Login">Login</a>
            </fieldset>
        </form>
    </div>
</div>