<div class="container">
    <div class="form-container">

        <h1>Employer Details</h1>
        <form method="post">
            <fieldset>
                <label class="form-label" for="name">Name: *</label>
                <input class="form-control" type="text" name="name" id="name" required>
            </fieldset>
            <fieldset>
                <label class="form-label" for="city">City: *</label>
                <select class="form-select" name="city" id="city" required>
                    {{#each cities}}
                    <option>{{this.name}}</option>
                    {{/each}}
                </select>
            </fieldset>
            <fieldset>
                <label class="form-label" for="comments">Comments: </label>
                <textarea class="form-control" name="comments" id="comments"></textarea>
            </fieldset>
            <fieldset>
                <label class="form-label" for="contactEmail">Contact Email: </label>
                <input class="form-control" type="email" name="contactEmail" id="contactEmail">
            </fieldset>
            <fieldset>
                <label class="form-label" for="employees">Number of Employees: </label>
                <input class="form-control" type="number" name="employees" id="employees" min="1">
            </fieldset>
            <button class="btn btn-secondary offset-11 mt-2" type="submit">Create</button>
        </form>
    </div>

</div>