<div class="container">
    <div class="form-container">
        <h1>City Details</h1>
        <form method="post">
            <fieldset class="form-group">
                <label class="form-label" for="name">Name: *</label>
                <input class="form-control" type="text" name="name" id="name" max-length="50" required>
            </fieldset>
            <button class="btn btn-secondary offset-11 mt-2" type="submit">Create</button>
        </form>
    </div>
</div>