body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #00B7FF;
}

main{
  font-family: 'Raleway', sans-serif;
}
.navbar-dark{
  background-color: #DB0007;
  padding-left: 20px;
}
h1{
  color: #063672;
}
.nav-link{
  color: #fafafa;
}